# Called at the very start, after state save. Call any custom park routines here, 
# for example to park on a gantry mounted nozzle leak stop
variable_user_pre_blobifier_extension: "_IG_PRE_BLOBIFIER_EXTENSION"
# Set this to the name of the macro that handles nozzle cleaning after purging 
# BUT BEFORE LIFTING Z. The macro is responsible for its own safe descend checks and 
# Z movement. BLOBIFIER_CLEAN is the stock macro for a bed-mounted brush. 
# Leave empty for gantry mounted brush
variable_clean_macro: ""
# Called after purging is done and clean macro above is executed but BEFORE RESTORING Z. 
# If using a gantry mounted nozzle leak stop, use this hook for your custom macro 
# to park the nozzle on the leak stop before restoring z. If not, leave empty.
variable_user_post_purge_extension: "_IG_BLOBIFIER_PARK_ON_NOZZLE_LEAK_STOP"
# Called AFTER RESTORING Z. Use this hook for nozzle cleaning on a gantry mounted brush 
# after Z is restored and before print resumes. If not, leave empty.         
variable_user_post_blobifier_extension: "_IG_POST_BLOBIFIER_CLEAN"