########################################
# bed.cfg
# Bed heater — MPC controlled
# BedFans wired in as cooling_fan for MPC
########################################

[heater_bed]
heater_pin: PA1
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: PF3
max_power: 1.0
min_temp: 0
max_temp: 120
control: mpc
heater_power: 600
cooling_fan: fan_generic BedFans
block_heat_capacity: 897.182
sensor_responsiveness: 0.0211237
ambient_transfer: 2.35426
fan_ambient_transfer: 2.35426, 1.99723, 2.33815, 2.46082, 3.01653