########################################
# fans.cfg
# Controller fan and hotend fan watchdog
########################################

#####################################################################
#   Controller fan
#####################################################################

[controller_fan controller_fan]
pin: PD14
kick_start_time: 0.5
heater: heater_bed
fan_speed: 1.0

#####################################################################
#   Hotend fan watchdog
#####################################################################

[delayed_gcode CHECK_ALL_FANS]
initial_duration: 1
gcode:
    HOTEND_FAN_CHECK
    UPDATE_DELAYED_GCODE ID=CHECK_ALL_FANS DURATION=3

[gcode_macro HOTEND_FAN_CHECK]
variable_he_stop_count: 0
gcode:
    {% set min_rpm = 11000|float %}
    {% set max_consecutive_stops = 3 %}
    {% set rpm = printer['heater_fan hotend_fan'].rpm|float %}
    {% set he_target = printer[printer.toolhead.extruder].target|float %}
    {% set he_temp = printer[printer.toolhead.extruder].temperature|float %}
    {% set fan_on_temp = printer.configfile.settings['heater_fan hotend_fan'].heater_temp|float %}
    {% set he_stop_count = printer["gcode_macro HOTEND_FAN_CHECK"].he_stop_count|int %}

    {% if (he_target >= fan_on_temp) and (rpm < min_rpm) and (he_temp >= fan_on_temp) %}
        SET_GCODE_VARIABLE MACRO=HOTEND_FAN_CHECK VARIABLE=he_stop_count VALUE={he_stop_count + 1}
        M118 WARNING: Fan stoppage detected ({he_stop_count+1}/{max_consecutive_stops}).
        M400
        {% if printer["gcode_macro HOTEND_FAN_CHECK"].he_stop_count|int >= max_consecutive_stops-1 %}
            FAN_STOPPAGE_ROUTINE
        {% endif %}
    {% else %}
        SET_GCODE_VARIABLE MACRO=HOTEND_FAN_CHECK VARIABLE=he_stop_count VALUE=0
    {% endif %}

[gcode_macro FAN_STOPPAGE_ROUTINE]
gcode:
    {% if printer['pause_resume'].is_paused|int == 0 %}
        M117 !!FAN STOPPAGE!!
        M118 FAN STOPPAGE DETECTED. PAUSING...
        PAUSE
        SET_HEATER_TEMPERATURE HEATER=extruder TARGET=0
    {% endif %}

#####################################################################
#   Nevermore
#####################################################################

[nevermore]
serial: /dev/serial/by-id/usb-Nevermore_Filter_pico_E6605838833ABB2C-if02

# These `fan_power_*` entries are for a DELTA BFB0712HF (StealthMax BOM)
# If you have a different fan then play with these numbers to the satisfaction.
# See full config documentation for details.
# (e.g. See `fan_power_automatic` if you'd prefer very quiet background filtering.)
fan_power_coefficient: 0.75  # lower max power to keep things much more quiet
fan_power_automatic: 1
fan_power_minimum: 0.05
led_colour_order: GBR
led_chain_count: 16

[temperature_sensor nevermore_intake_VOC]
sensor_type: NevermoreSensor
sensor_kind: intake
plot_voc: true

[led_effect left_line]
autostart:              true
frame_rate:             24
leds:
    nevermore (5,6)
layers:
        gradient  2 1 top (0.0, 1.0, 0.0), (0.0, 0.2, 0.0)  # Green to Green
[led_effect center_line]
autostart:              true
frame_rate:             24
leds:
    nevermore (1,4,7)
layers:
        gradient  2 1 top (0.0, 0.0, 1.0), (0.0, 0.0, 0.2)  # Red to Red
[led_effect right_line]
autostart:              true
frame_rate:             24
leds:
    nevermore (2,3)
layers:
        gradient  2 1 top (1.0, 0.0, 0.0), (0.2, 0.0, 0.0)  # Blue to Blue
