########################################
# mainsail.cfg
# Mainsail UI integration
# Full client macros version
########################################

[virtual_sdcard]
path: ~/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[pause_resume]

[display_status]

[respond]