########################################
# xy.cfg
# X/Y Stepper Settings
# 0.9 degree motors, sensorless homing
########################################

# B Stepper — Left (MOTOR_0)
[stepper_x]
step_pin: PF13
dir_pin: PF12
enable_pin: !PF14
rotation_distance: 40
microsteps: 32
full_steps_per_rotation: 400
endstop_pin: tmc2209_stepper_x:virtual_endstop
position_min: 0
position_endstop: 302
position_max: 302
homing_speed: 60
homing_retract_dist: 5
homing_retract_speed: 20
min_home_dist: 40
second_homing_speed: 40
homing_positive_dir: true
use_sensorless_homing: true

[tmc2209 stepper_x]
uart_pin: PC4
interpolate: false
run_current: 1.0
sense_resistor: 0.110
stealthchop_threshold: 0
driver_SGTHRS: 132
diag_pin: ^PG6
home_current: 0.4

# A Stepper — Right (MOTOR_1)
[stepper_y]
step_pin: PG0
dir_pin: PG1
enable_pin: !PF15
rotation_distance: 40
microsteps: 32
full_steps_per_rotation: 400
endstop_pin: tmc2209_stepper_y:virtual_endstop
position_min: 0
position_endstop: 305
position_max: 305
homing_speed: 40
homing_retract_dist: 5
homing_retract_speed: 20
min_home_dist: 40
second_homing_speed: 40
homing_positive_dir: true
use_sensorless_homing: true

[tmc2209 stepper_y]
uart_pin: PD11
interpolate: false
run_current: 1.0
sense_resistor: 0.110
stealthchop_threshold: 0
driver_SGTHRS: 132
diag_pin: ^PG9
home_current: 0.4