# Overriden move to cutter pin macro to enable "un-park" motion to avoid nozzle
# scraping forward on the nozzle stop
#
[gcode_macro _CUT_TIP_MOVE_TO_CUTTER_PIN]
description: Helper to move the toolhead to the target pin in either safe or faster way, depending on toolhead clearance
gcode:
    {% set pin_park_x_loc = params.PIN_PARK_X_LOC|float %}
    {% set pin_park_y_loc = params.PIN_PARK_Y_LOC|float %}
    {% set vars = printer['gcode_macro _MMU_CUT_TIP_VARS'] %}
    {% set safe_margin_x, safe_margin_y = vars.safe_margin_xy|map('float') %}
    {% set travel_speed = vars['travel_speed']|float %}
    {% set cutting_axis = vars['cutting_axis'] %}

    # IG Changes
    UNPARK

    {% if ((printer.gcode_move.gcode_position.x - pin_park_x_loc)|abs < safe_margin_x) or ((printer.gcode_move.gcode_position.y - pin_park_y_loc)|abs < safe_margin_y) %}
        # Make a safe but slower travel move
        {% if cutting_axis == "x" %}
            G1 X{pin_park_x_loc} F{travel_speed * 60}
            G1 Y{pin_park_y_loc} F{travel_speed * 60}
        {% else %}
            G1 Y{pin_park_y_loc} F{travel_speed * 60}
            G1 X{pin_park_x_loc} F{travel_speed * 60}
        {% endif %}
    {% else %}
        G1 X{pin_park_x_loc} Y{pin_park_y_loc} F{travel_speed * 60}
    {% endif %}

[gcode_macro PARK]
gcode:
  {% set restore = params.RESTORE|default("0")|int %}
  {% set x = params.X|default("150")|float %}
  {% set y = params.Y|default("150")|float %}
  {% set f = params.F|default("27000")|int %} #2700

  {% if restore == 1 %}
    # Move to coordinates given by HH as we are restoring position
    G1 X{x} Y{y} F{f}

  {% elif ((printer.gcode_move.gcode_position.x - 28)|abs > 0.05)
        or ((printer.gcode_move.gcode_position.y - 305)|abs > 0.05) %}
    # Perform custom park move to the nozzle stop
    SAVE_GCODE_STATE NAME=SET_PARK_STATE

    {% if (printer.gcode_move.gcode_position.y > 250) and (printer.gcode_move.gcode_position.x > 3) %}
      G1 Y250 F{f}    #Move infront of the end of the nozzle wiper
    {% endif %}
    G1 X3 F{f}              #Move to the start of the nozzle wiper
    G1 X3 Y305 F{f}         #Move to the right Y position aligning with the nozzle wiper
    G1 X28 Y305 F{f}        #Move on the nozzle stop
    RESTORE_GCODE_STATE NAME=SET_PARK_STATE
  {% endif %}

[gcode_macro UNPARK]
gcode:
  {% set f = params.F|default("27000")|int %} #
  # Unpark if on the park location
    SAVE_GCODE_STATE NAME=SET_UNPARK_STATE
    G1 X3 F{f}              #Move to the start of the nozzle wiper
    RESTORE_GCODE_STATE NAME=SET_UNPARK_STATE